@import url('./fonts');

:root {
    --font-sans: OpenSans, sans-serif;
    --text: #fafafa;
    --secondary: #bababa;
    --accent: #16ef74;
    --primary-background: black;
    --secondary-background: #1c1c1c;
    --divider: #3c413c;
    --purple: #8b5cf6;
    --default-margin: 1rem;
    --default-padding: 1rem;
    --nav-width: 5rem;
    --main-margin: 0.5rem;
}

html {
    color: var(--text);
    background-color: var(--primary-background);
    font-family: var(--font-sans);
}

body {
    margin: 0;
}

textarea {
    display: block;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 1rem;
    font-family: var(--font-sans);
    font-size: 1rem;
    color: var(--text);
    background: var(--secondary-background);
    border: none;
    border-radius: 10px;
    width: 100%;
    resize: vertical;

    &:focus {
        outline: thin solid var(--accent);
    }
}

main {
    grid-area: main;
    padding: 0 0.5rem;
}

.navlink {
    color: var(--accent);
}

.navlink:hover,
.navlink:hover .label-text {
    text-decoration: underline;
}

.nav-container {
    display: grid;
    grid-template-areas: 'nav main';
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: 1fr;
}

.nav-container.with-player {
    grid-template-areas: 'nav main' 'player player';
    grid-template-rows: 1fr var(--nav-width);
}

.with-player nav {
    bottom: var(--nav-width);
}

#av-player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--nav-width);
    background: var(--primary-background);
    border-top: thin solid var(--divider);
}

#av-player minty-audio {
    height: 100%;
}

#track-info {
    display: flex;
    gap: 0.5rem;
    height: 100%;
}

#track-info > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.plain {
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.labeled {
    margin: 1rem 0.5rem;
}

.draft-banner {
    display: flex;
    justify-content: space-between;
    background: color(from var(--primary-background) srgb r g b / 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem 0.5rem;
    position: sticky;
    border-bottom: thin solid var(--divider);
}

.search-controls {
    display: flex;
    gap: 0.5rem;
    height: 3rem;
    background: color(from var(--primary-background) srgb r g b / 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: thin solid var(--divider);
}

.search-controls > * {
    height: 100%;
}

.search-controls button {
    padding: 0.4rem;
    color: var(--text);
    background: none;
    border-radius: calc(0.5rem - 2px);
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--secondary-background);
    }
}

.search-field {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    border-radius: 10px;
    background: color(from var(--secondary-background) srgb r g b / 0.8);
    padding-left: 1rem;
}

.search-field:has(input[type='text']:focus) {
    outline: thin solid var(--accent);
}

.search-field .inline-icon {
    color: var(--secondary);
    opacity: 0.75;
}

.search-field input[type='text'] {
    width: 100%;
    height: 100%;
    font-size: medium;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
}

.search-field input[type='text']::placeholder {
    color: var(--secondary);
    opacity: 0.75;
}

.text-field {
    display: flex;
    background: var(--secondary-background);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
}

.text-field:has(input:focus) {
    outline: thin solid var(--accent);
}

.text-field:has(input:user-invalid) {
    outline: thin solid red;
}

.text-field input {
    width: 100%;
    height: 100%;
    font-size: medium;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
}

.text-field::placeholder {
    color: var(--secondary);
}

.submit-button {
    font-size: 1rem;
    color: var(--accent);
    background: var(--primary-background);
    width: 100%;
    padding: 0.5rem 1rem;
    outline: thin solid var(--secondary-background);
    border: none;
    border-radius: 100px;
    cursor: pointer;

    &:focus,
    &:hover {
        box-shadow: 0 0 3px 3px var(--accent);
    }
}

li {
    list-style: none;
}

.fg-purple {
    color: var(--purple);
}

.font-smaller {
    font-size: smaller;
}

.font-larger {
    font-size: larger;
}

.inline {
    display: inline;
}

.text-color {
    color: var(--text);
}

.background-color {
    color: var(--primary-background);
}

.secondary {
    color: var(--secondary);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.label-text {
    display: inline-block;
    padding-left: 0.4em;
    transform: translateY(-0.15em);
}

.leading-1-5 {
    line-height: 1.5em;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.grid {
    display: grid;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 5rem;
    border-right: thin solid var(--divider);
    justify-content: space-between;
}

nav > a:visited {
    color: var(--text);
}

.nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.5rem;
}

.nav-section > * {
    padding: 0.4rem;

    &:hover {
        background: var(--secondary-background);
        border-radius: calc(0.5rem - 2px);
    }
}

.nav-section > a {
    color: var(--text);

    &:visited {
        color: var(--text);
    }
}

.nav-section > button {
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.post-preview {
    display: grid;
    grid-template-columns: minmax(auto, 150px) 1fr;
    grid-template-rows: auto 1fr;
    border-top: thin solid var(--divider);
}

.post-preview:hover {
    background-color: var(--secondary-background);
}

.post-preview:first-child {
    border: none;
}

a.post-preview {
    text-decoration: none;
}

.post-preview-image {
    grid-row: span 2;
}

.object-grid {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(3, minmax(auto, 250px));
    gap: 3px;
    justify-items: center;
    align-items: center;
}

.object-grid img {
    display: block;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-p5em {
    gap: 0.5em;
}

.gap-p25em {
    gap: 0.25em;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.center {
    justify-content: center;
    align-items: center;
}

.scaled-to-fit {
    max-width: 100%;
    max-height: 100%;
}

.inline-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.z1 {
    z-index: 1;
}

.object-placeholder {
    width: 75%;
    margin: 50px;
}

.object-placeholder-text {
    font-size: min(30px, 5vw);
}

.margin-top {
    margin-top: var(--default-margin);
}

.margin-bottom {
    margin-bottom: var(--default-margin);
}

.margin-vertical {
    margin: var(--default-margin) 0;
}

.padding {
    padding: var(--default-padding);
}

.padding-top {
    padding-top: var(--default-padding);
}

.padding-leading {
    padding-left: var(--default-padding);
}

.padding-leading-2 {
    padding-left: calc(var(--default-padding) * 2);
}

.padding-trailing {
    padding-right: var(--default-padding);
}

.rounded-corners {
    border-radius: 10px;
}

.tags {
    flex-wrap: wrap;
}

.tags > a {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--accent);
    background-color: var(--secondary-background);
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 100px;
}

.tags > a:visited {
    color: var(--accent);
}

.tags > a:hover {
    outline: thin solid var(--accent);
}

.fit-content {
    max-width: fit-content;
}

.comment-grid {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: repeat(2, auto);
}

.comment {
    border-bottom: thin solid var(--divider);
    grid-column: span 2;
}

.comment-metadata {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.comment-content {
    margin: 0.5rem;
}

.comment-indent {
    width: 2rem;
    border-right: thin solid var(--divider);
}

.comment-indent:hover {
    background-color: var(--secondary-background);
}

.full-page {
    height: 100vh;
}

#modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;

    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal > .modal-underlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

#modal .modal-zoom {
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing .modal-zoom {
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

#image-viewer {
    display: flex;
    gap: 10vw;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-margin: 0;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scrollbar-color: transparent transparent;
    width: 100vw;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

#image-viewer .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

#image-viewer img {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
}

#image-viewer .control {
    position: absolute;
    color: #fafafa;
    background: rgba(0, 0, 0, 0.6);
    width: 5rem;
    margin: 1rem;
    border: none;
    clip-path: circle();
    box-shadow: 0 0 5px;
    cursor: pointer;
}

#image-viewer .close-modal {
    top: 0;
    left: 0;
}

#image-viewer .previous {
    top: 0;
    left: 0;
    bottom: 0;
}

#image-viewer .next {
    top: 0;
    right: 0;
    bottom: 0;
}

.hide-controls .control {
    display: none;
}

.label {
    display: flex;
    gap: 0.5rem;
    color: var(--text);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: calc(0.5rem - 2px);

    &:hover {
        background: var(--divider);
    }

    &:focus {
        background: var(--secondary);
        outline: none;
    }
}
