@font-face {
    font-family: OpenSans;
    src: local('fonts/OpenSans-VariableFont_wdth,wght.ttf') format('ttf');
}

:root {
    --font-sans: OpenSans, sans-serif;
    --text: #fafafa;
    --secondary: #bababa;
    --accent: #16ef74;
    --primary-background: #090b09;
    --secondary-background: #131513;
}

html {
    color: var(--text);
    background-color: var(--primary-background);
    font-family: var(--font-sans);
}

a:link {
    text-decoration: none;
    color: var(--secondary);
}

a:visited {
    text-decoration: none;
    color: var(--secondary);
}

.font-smaller {
    font-size: smaller;
}

.background-color {
    color: var(--primary-background);
}

.secondary {
    color: var(--secondary);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.label-text {
    display: inline-block;
    padding: 0 0 0 .4em;
    transform: translateY(-.15em);
}

.leading-1-5 {
    line-height: 1.5em;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 250px));
    gap: 3px;
    justify-items: center;
    align-items: center;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.max-width-full {
    max-width: 100%;
}

.width-1em {
    display: inline-block;
    width: 1em;
}

.z1 {
    z-index: 1;
}

.object-placeholder {
    width: 75%;
    margin: 50px;
}

.object-placeholder-text {
    font-size: min(30px, 5vw);
}
