@font-face {
    font-family: OpenSans;
    src: local('fonts/OpenSans-VariableFont_wdth,wght.ttf') format('ttf');
}

:root {
    --font-sans: OpenSans, sans-serif;
    --text: #fafafa;
    --secondary: #bababa;
    --accent: #16ef74;
    --primary-background: #090b09;
    --secondary-background: #131513;
}

html {
    color: var(--text);
    background-color: var(--primary-background);
    font-family: var(--font-sans);
}

a:link {
    text-decoration: none;
    color: var(--secondary);
}

a:visited {
    text-decoration: none;
    color: var(--secondary);
}

.font-smaller {
    font-size: smaller;
}

.secondary {
    color: var(--secondary);
}

.italic {
    font-style: italic;
}

.label-text {
    display: inline-block;
    padding: 0 0 0 .4em;
    transform: translateY(-.15em);
}
