:host {
    position: relative;
}

button {
    padding: 0.4rem;
    font-size: 1rem;
    color: var(--text);
    background: none;
    border: none;
    border-radius: calc(0.5rem - 2px);
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.closed:hover {
    background: var(--secondary-background);
}

.menu {
    background: color(from var(--secondary-background) srgb r g b / 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: absolute;
    z-index: 50;
    border: 1px solid var(--divider);
    border-radius: calc(0.5rem - 2px);
    padding: 0.25rem;
    text-wrap: nowrap;
    bottom: 0;
    left: 100%;
    transform: translateX(0.5rem);
}

.closed + .menu {
    display: none;
}

.menu > ::slotted(*) {
    display: block;
    padding: 0.5rem;
    border-radius: calc(0.5rem - 2px);
}

.menu > ::slotted(a:link),
.menu > ::slotted(a:visited) {
    color: var(--text);
    text-decoration: none;
}

.menu > ::slotted(button) {
    display: flex;
    width: 100%;
    font-size: 1rem;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu > ::slotted(*:hover) {
    background: var(--divider);
}

.menu > ::slotted(*:focus) {
    background: var(--secondary);
    outline: none;
}
